body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url(/imagenes/download\ \(4\).jpeg);
    background-repeat: no-repeat;
    background-size: 100%;

}
/* estilos de un div */
.consulta-container{
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background:radial-gradient(145deg, #333, #1e1e1e);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 1px solid #444;
    transform: translateY(-50px);
    opacity: 0;
    animation: fadeInSlide 0.8s ease forwards;
}

@keyframes fadeInSlide{
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
/* estilos de algunos titulos */
h2, h3{
    color: #e6e6e6;
    text-align: center;
}

label{
    display:block ;
    margin-top: 15px;
    font-weight: bold;
    color: #bbb;
}


input, textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: #2a2a2a;
    border: 1px solid #555;
    border-radius: 5px;
    color: #e0e0e0;
    transition: box-shadow 0.3s ease;
}



input:focus, textarea:focus{
    box-shadow: 0 0 8px #4CAF50, 0 0 12px #4caf50;
    outline: none;
}
/* estiilos de los botones */
button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 0 15px rgba(76, 175, 80, 0.4);
}



button:hover{
    background-color: #45a049;
    transform: translateY(-3px);
    box-shadow: 0 0 20px #4CAF50, 0 0 40px #4CAF50;
}
/* consultas */
.consulta{
    background-color: #2c2c2c;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border-left: 5px solid #4CAF50;
    opacity: 0;
    transform: translateY(20px);
    animation: aparecer 0.5s ease forwards;
}



@keyframes aparecer{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* texto dentro de la consulta */
.consulta h4{
    margin: 0;
    color: #4CAF50;
    font-size: 1.1em;
}

.consulta p{
    margin: 5px 0;
    color: #ccc;
    font-style:italic;
}

.error {
    color: #ff4d4d;
    font-size: 0.9em;
    text-align: center;
    margin-top: 10px;
    display: none;
    animation: shake 0.3s ease;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
}