body {
    display: grid;
    place-items: center;
    background: linear-gradient(black, grey, black);
    background-repeat: no-repeat;
    height: 55vw;
}

.center {
    background-color: #fff;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.747);
    border-radius: 50px;
    height: 550px;
    width: 450px;
    display: flex;
    justify-content: center;

}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

h2 {
    font-size: 35px;
    text-align: center;
    flex-direction: initial;
}

input {
    width: 250px;
    border: none;
    border-bottom: solid 1px black;
}

input:hover {
    border: none;
    border-bottom: solid 1px grey;
    transition: 0.1s;
}

input::placeholder {
    color: black;
    text-align: start;
}

input:hover::placeholder {
    color: grey;

}

.inicie {
    color: black;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

.hola {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.textoo {
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}

.bx{
    cursor: pointer;
    margin-left: 260px;
    
}

.btn {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    cursor: pointer;
    border-radius: 6em;
    transition: all 0.2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: rgb(238, 237, 237);
    margin-right: 100px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  
  .btn::after {
    background-color: #fff;
  }
  
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  
  .a {
    color: rgb(0, 0, 0);
    text-decoration: none;
 font-size: medium;
 font-family: 'Courier New', Courier, monospace;
}


  