/*fondo y cosas asi*/
body {
    background-color: black;
}

/*el encabezado*/
header {
    padding: 10px;
    display: flex;
    background-color: gray;
    color: white;
    margin-top: -1%;
    margin-left: -0.4%;
    height: 70px;
    justify-content: space-between;
}

/*titulo del encabezado*/
.titulo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin-left: 60px;

}

/*boton*/
.registrar {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    border: 0px;
    border-color: rgb(167, 167, 167);
    background-color: rgb(167, 167, 167);
    margin-left: 10px;
    height: 40px;
}

/*pequeña animacion en los botones*/
.registrar:hover {
    transition: 0.3s;
    background-color: black;
    border-color: black;
    color: aliceblue;
}

/*div del primer texto*/
.texto_informativo {
    width: 49%;
    margin-right: 3%;
}

/*este se encarga de los estilos mde los textos dentro de la pagina*/
.TituloTexto {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;

}

/*imagen en la presentacion*/
.imagen {
    width: 50%;
}

.informacion {
    display: flex;
}

/*carrousel*/
.carousel {
    position: relative;
    border: 2px solid #ccc;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
    width: 50%;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked+.carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
    top: 27%;
    bottom: 27%;
}

.carousel-control.next {
    right: 2%;
    top: 27%;
    bottom: 27%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked~.control-1,
#carousel-2:checked~.control-2,
#carousel-3:checked~.control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 25px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

.imagenc {
    width: 100%;
}