                                                                /*fondo y cosas asi*/
body {
    background-color: rgb(255, 255, 255);
    margin-bottom: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 10px;
    display: flex;
    height: 100px;
    justify-content: space-between;
    width: 100%;
    margin: -1%;
    padding: 0.7%;
}

.logo {
    width: 130px;
    height: 130px;
    margin-top: 20px;
    margin-left: 20px;
    filter: invert();

}

/* Linea estetica */
.linea {
    margin-top: 3%;
    background-color: black;
    width: 100%;
    height: 5px;

}
/* input */
input {
    font-size: 20px;
    margin-left: -20%;
    margin-top: 15%;
    width: 300px;
    height: 40px;
    border-radius: 50px;
    border: solid black;
}
/* div del titulo */
.titu {
    width: 670px;
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 50px;
}

.Titulo {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.IMT {
    display: flex;
}
/*boton*/

.botones {
    display: grid;
}

.registrar {
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    border: 0px;
    border-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    height: 40px;
    width: 140px;
    font-size: 18px;
    margin-top: 10%;
}

/*pequeña animacion en los botones*/
.registrar:hover {
    transition: 0.3s;
    background-color: black;
    border-color: black;
    color: aliceblue;
}

/*div del primer texto*/
.texto_informativo {
    width: 55%;
    margin-right: 3%;

}

.informacion {
    border: solid black;
    margin-top: 2%;
    border-radius: 30px;
    margin-bottom: 3%;
}

/*este se encarga de los estilos mde los textos dentro de la pagina*/
.TituloTexto {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

.text {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: black;
}

/*imagen en la presentacion*/
.imagen {
    width: 50%;
    border-radius: 25px;
}

.informacion {
    display: flex;
}

/*carrousel*/
.carousel {
    position: relative;
    border: 2px solid #ccc;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
    width: 90%;
    margin-left: 3%;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked+.carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
    top: 49%;
    bottom: 27%;
}

.carousel-control.next {
    right: 2%;
    top: 49%;
    bottom: 27%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked~.control-1,
#carousel-2:checked~.control-2,
#carousel-3:checked~.control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 25px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

.imagencarrousel {
    width: 100%;
    max-height: 5000px;
}

/*un div para manener un poco la estetica minimalista*/
.divespecial {
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    padding: 20px;
    display: flex;
    border: solid black;
    border-radius: 30px;
}
.textocarousel {
    margin-top: 17px;
    max-width: 50%;
    font-size: medium;
    font-family:'Courier New', Courier, monospace;
    color: #000000;
}

/* Footer */
footer {
    padding-top: 60px;
    justify-content: center;
    text-align: center;
    height: 300px;
    width: 100%;
    background-color: black;
    margin-top: 70px;
    color: white;
}

footer p {
    transition: 0.5s;
}

footer p:hover {
    translate: 0px -5px;
}

.didi {
    filter: invert();
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

footer img {
    width: 30px;
    transition: 0.5s;
}

footer img:hover {
    translate: 0px -5px;
}

/*cartas de las reseñas xdd*/
  
.reseñas {
    text-align: center;
    max-width: 100%;
    margin: 20px;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    flex-direction: row;

  }
  
  .reseñatituloprinci {
    margin-top: 110px;
    font-size: 24px;
    margin-left:560px;
    margin-bottom: 20px;
  }
  
  .reseña_cuadro {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    display: inline-block;
    width: 250px;
  }
  
  .estrellas {
    color: #FFD700;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .reseña_cuadro h3 {
    font-size: 18px;
    margin: 5px 0;
  }
  
  .reseña_cuadro p {
    color: #555;
    font-size: 14px;
  }
  
  .cliente {
    display: flex;
    align-items: center;
    margin-top: 10px;
    
  }
  
  .cliente img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .cliente span {
    font-size: 12px;
    color: #555;
  }
  
  .fecha {
    margin-left: auto;
    color: #999;
  }
  
  .cargar_mas {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: rgb(208, 255, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 560px;
}

.cargar_mas:hover {
     color: darkslategray;
    
}


.cata{
    margin-top: 40px;
    padding: 10px 20px;
    background-color: #333;
    color: rgb(208, 255, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
    margin-left: 550px;
}

.cata:hover{
    color: darkslategray;
}


