body {
    display: grid;
    place-items: center;
    background: linear-gradient(black, grey, black);
    background-repeat: no-repeat;
    height: 55vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* contenedor de otras cosas */
.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
/* algun que otro titulo */
h2 {
    font-size: 35px;
    text-align: center;
    flex-direction: initial;
}
/* inputs donde se pone la info */
input {
    width: 300px;
    border: none;
    border-bottom: solid 1px black;
}

input:focus{
    outline: none;
}

input:hover {
    border: none;
    border-bottom: solid 1px grey;
    transition: 0.1s;
}

input::placeholder {
    color: black;
    text-align: start;
}

input:hover::placeholder {
    color: grey;

}
/* links de href */
.a {
    color: rgb(101, 190, 219);
    text-decoration: none;
    text-align: end;
}

.flex {
    display: flex;
    justify-content: center;
}

.sec {
    display: flex;
    flex-direction: column;
    margin-top: 3.5%;
    background-color: #fff;
    box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.747);
    border: solid 2px white;
    height: 450px;
    width: 305px;
    border-left: solid rgba(0, 0, 0, 0.562);
    border-right: solid rgba(0, 0, 0, 0.562);

}


.sec a{
    text-align: left;
    padding: 10px;
    margin: 7%;
    border-right: solid black;
    color: rgb(134, 51, 134);
}
.sec2{
    display: flex;
    margin: auto;

    
}
.sec p{
    max-width: 250px;
    margin: auto;
}
.img{
    height: 240px;
    box-shadow: 5px 0px 5px black;

}
.princi{
    
    text-decoration: none;
    
}
.flex2{
    display: flex;
}
.logo {
    margin-left: 10%;
    height: 50px;
}

.lolo {
    filter: invert();
    border-radius: 100%;
    margin-top: 15px;
}