body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url(..//IMAGENES/fondo_nuevo.jpg);
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
  }
  
  header {
    padding: 0%;
    margin: 0%;
    margin-bottom: 50px;
    background-color: #e2e2e2;
    border: 2px solid grey;
    box-shadow: 0 0 35px 0 rgb(255, 255, 255);
    font-size: 30px;
    text-shadow: 3px 3px 6px rgba(0, 0, 255, 10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 40;
  }
  
  .Logo {
      width: 100px;
    }
    
  
  .btn_pagina1 {
    color:black;
    width: 140px;
    height: auto;
    float: left;
    transition: 0.5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  .btn_pagina1:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }
  
  .btn_pagina1:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }
  
  .btn_pagina1:hover {
    box-shadow: 0 5px 15px rgba(253, 253, 253, 0.5);
  }
  
  .btn_pagina1:hover:before {
    border-color: #000;
    height: 100%;
    transform: translateX(0);
    transition: 0.3s transform linear, 0.3s height linear 0.3s;
  }
  
  .btn_pagina1:hover:after {
    border-color: #1100ff;
    height: 100%;
    transform: translateX(0);
    transition: 0.3s transform linear, 0.3s height linear 0.5s;
  }
  
  button {
    color: rgb(218, 218, 218);
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }
  
  button {
    color: rgb(233, 233, 233);
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }
  
  .catalogo {
      font-size: 40px;
  }
  
  .busqueda {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
    }
    
    .imagenes {
      display: flex;
      align-items: center;
    }
    
    .imagenes img {
      margin-right: 10px;
    }
    
    #barra_buscar {
      width: 300px;
      padding: 10px 20px 10px 50px;
      font-size: 18px;
      border: 2px solid #3498db;
      border-radius: 25px;
      outline: none;
      transition: 0.3s;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      background-image: url('lupa.jpg'), url('microfono.jpg');
      background-repeat: no-repeat;
      background-position: 10px center, 35px center;
      background-size: 20px;
    }
    
    
    #barra_buscar::placeholder {
      color: #95a5a6;
      font-style: italic;
      margin:10px;
    }
    
  .caja_info{
    height: 100%;
    width: 100%;
      display:flex;
      flex-direction: row;
  }
  
  
  .caja_info > img {
      margin-left:40px;
      border-radius:5%;
  }
  
  .info{
      margin:30px;
  }
  
  .titulo2{
      color:black;
  }
  
  .precio{
      background-size: auto;
      border:1px solid yellowgreen;
  }
  
  .precioo{
      color:black;
      font-size: 40px;
      margin-top:5px;
  }
  
  
  .masinfo {
      background-color: black;
      margin:10px;
      margin-left:100px;
      padding:10px;
      flex-direction: row;
      width:400px;
      border-radius:5%;
      justify-content: center;
      text-align: center;
  }
  
  #x {
    position: relative;
    left:460px;
    z-index: 0;
  }
  
  .pequeñainfo {
    box-shadow:2px 2px 10px #000;
    position: absolute;
    margin-right:10px;
    margin-top:10px;
    font-size: large;
  }
  
  .numero2 {
    position:relative;
    left:40%;
    margin-top:60px;
    margin-top: 100px;
      height: 100%;
      width: 100%;
      display:flex;
      flex-direction: row;
  }
  
  .dos {
    position:relative;
    right:70%;
  }
  
  /*cartas de las reseñas xdd*/
  
  .reseñas {
    text-align: center;
    max-width: 100%;
    margin: 20px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
  }
  
  .reseñatituloprinci {
    margin-top: 110px;
    font-size: 24px;
    margin-left:30px;
    margin-bottom: 20px;
  }
  
  .reseña_cuadro {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    display: inline-block;
    width: 250px;
  }
  
  .estrellas {
    color: #FFD700;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .reseña_cuadro h3 {
    font-size: 18px;
    margin: 5px 0;
  }
  
  .reseña_cuadro p {
    color: #555;
    font-size: 14px;
  }
  
  .cliente {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .cliente img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .cliente span {
    font-size: 12px;
    color: #555;
  }
  
  .fecha {
    margin-left: auto;
    color: #999;
  }
  
  /*ver mas reseñas*/
  .mas_reseñas {
    margin-top:100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .vermas {
    display:inline;
    color:black;
    border:1px solid black;
  }
  
  .mesage {
    font-weight: 100;
    color:gray;
    margin-top:5px ;
  }
  
  
  .correo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
  }
  
  .correo input[type="email"] {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .correo button {
    padding: 8px 16px;
    font-size: 14px;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  .correo button:hover {
    background-color: #555;
  }
  
  .xd {
    text-decoration: none;
  }
  
  /*footererr*/
    
  footer {
    background-color: #fff;
    border-top:#000;
    padding: 10px 0;
    text-align: center;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
  }
  
  .enlaces, .enlaces { 
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top:30px;
  }
  
  .enlaces a, .redes_sociales a {
    color:black;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .enlaces a:hover, .redes_sociales a:hover {
    color:#48e
  }
  
  .redes_sociales {
    margin-top: 15px;
  }
  
  .redes_sociales a {
    margin: 0 10px;
  }
  
  
  div:empty {
    margin-top:50px;
    border: 1px solid black;
  }